[Unit]
Description=Guapcoin's distributed currency daemon
After=network.target

[Service]
User=guapcoin
Group=guapcoin

Type=forking
PIDFile=/var/lib/guapcoind/guapcoind.pid

ExecStart=/usr/bin/guapcoind -daemon -pid=/var/lib/guapcoind/guapcoind.pid \
          -conf=/etc/guapcoin/guapcoin.conf -datadir=/var/lib/guapcoind

ExecStop=-/usr/bin/guapcoin-cli -conf=/etc/guapcoin/guapcoin.conf \
         -datadir=/var/lib/guapcoind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
